<!DOCTYPE html>
<html ng-app="syoScroll">
    <head>
        <title>syoScroll Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//syonet.github.io/bootstrap/dist/bootstrap.css">
        <link rel="stylesheet" href="dist/syoScroll.css">
        <style>
            .overflow-container {
                width: 500px;
                height: 500px;
            }

            .overflown-element {
                width: 1000px;
                height: 1000px;
                background: linear-gradient( to bottom right, #333, #ccc );
            }
        </style>
    </head>
    <body class="syo-body-navbar" ng-init="width = 500; height = 500">
        <div class="syo-navbar syo-navbar-fixed-top">
            <div class="container">
                <span class="syo-navbar-title">Demo syoScroll</span>
            </div>
        </div>

        <div class="container container-vertical">
            <form>
                <div class="syo-field syo-field-inline">
                    <label>Largura:</label>
                    <input type="number" ng-model="width">
                </div>

                <div class="syo-field syo-field-inline">
                    <label>Altura:</label>
                    <input type="number" ng-model="height">
                </div>
            </form>

            <div class="overflow-container syo-scroll" ng-style="{ width: ( width + 'px' ), height: ( height + 'px' ) }">
                <div class="overflown-element"></div>
            </div>
        </div>

        <script src="//plook.injoin.io/angular/1.3.0/angular.js"></script>
        <script src="dist/syoScroll.js"></script>
    </body>
</html>